<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Imported Rule 1" stopProcessing="true">
                    <match url="^[^/]+/scripts/(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="scripts/{R:1}" />
                </rule>
                <rule name="Imported Rule 2" stopProcessing="true">
                    <match url="^[^/]+/style/(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="style/{R:1}" />
                </rule>
                <rule name="Imported Rule 3" stopProcessing="true">
                    <match url="^[^/]+/images/(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="images/{R:1}" />
                </rule>
                <rule name="Imported Rule 4" stopProcessing="true">
                    <match url="^[^/]+/data/(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="data/{R:1}" />
                </rule>
                <rule name="Imported Rule 5" stopProcessing="true">
                    <match url="^(code|about|contact)/?$" ignoreCase="false" />
                    <action type="Rewrite" url="/" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
