body, html {
    margin: 0px;
    padding: 0px;
    height: 100%;
    font-family: Roboto;
}

body {
    background: #2F5168;
    overflow: hidden;
}

#canvas-container {
    height: 100%;
    width: 100%;
    display: flex;
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: hidden;
}

#menu-container {
    position: absolute;
    width: 494px;
    top: calc(50% + 190px);
    left: calc(50% - 247px);
    opacity: 0;
    display: none;
}

.menu {
    justify-content: space-between;
    display: flex;
    width:100%;
}

#menu-container a{
    text-decoration: none;
    display: block;
    width: 94px;
    padding-top: 101px;
    padding-bottom: 4px;
    box-sizing: unset;
    text-align: center;
    font-size: 22px;
    color: rgba(255,255,255,0.1);
    position: relative;
    transition: color 0.3s ease-out;
    cursor: pointer;
}

#menu-container a:nth-child(1):hover {
    color: rgba(224, 72, 54,0.9);
    text-shadow: 0px 0px 2px rgba(224, 72, 54,0.5);
}

#menu-container a:nth-child(2):hover {
    color: rgba(86, 150, 188,0.9);
    text-shadow: 0px 0px 2px rgba(86, 150, 188,0.5);
    
}

#menu-container a:nth-child(3):hover {
    color: rgba(243, 157, 65,0.9);
    text-shadow: 0px 0px 2px rgba(243, 157, 65,0.5);
}

#github-banner {
    position: absolute;
    right: 20px;
    top: 20px;
    display: none;
    opacity: 0;
}

.github-banner-link {
    font-weight: 300;
    color: white;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    opacity: 0.3;
    transition: opacity 0.2s ease-out;    
}

.github-banner-link::before {
    display: block;
    position: absolute;
    right: 40px;
    content: "Like what you see?\A Fork it on GitHub";
    width:150px;
    transform: translateX(0px);
    opacity: 0;
    transition: transform 0.2s ease-out, opacity 0.2s ease-out;
    pointer-events: none;
}

.github-banner-link svg{
    fill: white;
}

.github-banner-link:hover {
    opacity: 1;
}

.github-banner-link:hover::before {
    transform: translateX(+10px);
    opacity: 0.8;
}

#pages-container {
    position: absolute;
    height: 100%;
    width: 100%;
    top:100%;
    left: 0px;
}

#pages-container > div {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    transform: translateY(0);
    transition: transform 0.4s ease-in-out ;
}

#pages-container > div.visible {
    transform: translateY(-100%);
}

#code-page {
    background: #E04836;
}

#about-page {
    background: #5696BC;
}

#contact-page {
    background: #F39D41;
}

#page-close {
    position: absolute;
    right: 50px;
    height: 32px;
    width: 32px;
    text-decoration: none;
    opacity: 0;
    display: block;
    transition: opacity 0.3s ease-out;
    cursor: pointer;
}

#page-close.visible {
    opacity:0.6;
    top: calc(50px - 100%);
}

#page-close:hover {
    opacity: 1;
}

#page-close svg {
    fill:white;
}

#contact-page a {
    text-decoration: none;
    display: inline-block;
    margin:5px;
    transform:scale(0.8,0.8);
    opacity: 0.8;
    transition: transform 0.2s ease, opacity 0.2s ease;
    cursor: pointer;
}

#contact-page a:hover {
    opacity: 1;
    transform: scale(1,1);
}

#contact-page span {
    color: white;
    font-size: 24px;
    padding-bottom: 40px;
    cursor: default;
    user-select: none;
}

#contact-page > div {
    height: 100%;
    box-sizing: border-box;
    padding-bottom: 68px;
}

#about-page > div {
    height: 100%;
}

#contact-page > div, #contact-page > div > div, #about-page > div, #about-page > div > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#about-page > div > div > div {
    display:inline-block;
    height:300px;
    width:305px;
    border-radius:1000px;
    background:url('../images/me.jpg');
    background-size:300px 300px;
    border: 3px solid white;
}

#about-page p {
    width:520px;
    display:inline-block;
    font-weight:300;
    font-size:16px;
    color:#fff;
    text-align:justify;
    margin-top:30px;
}

.location {
    color: white;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    text-decoration: none;
    position: relative;
}

.location::after {
    content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAh0lEQVQoz4WQsQnAIBBFb4IMYpEiM2SALGftBClSp3SWlBYpUlio+QcXkHDqhwdy/x4cElXJORtwgEfgtyEtKGZwl194xp0mnLKQgBOSzE5NiFK6auZkFjUhdISgCXvnpF0T1tIId62f8sqyp1ZQLt8Z1XkL9YIFWwmWRsHSBC5hGgoibYzWvZnyDhbnpZXlAAAAAElFTkSuQmCC');
    margin-left:4px;
}

.location::before {
    content: "It's a beautiful city.";
    text-shadow: none;
    padding: 3px;
    border-radius: 4px;
    position: absolute;
    top: -25px;
    left: 12px;
    background: white;
    width: 105px;
    color: #222;
    font-size: 13px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(+10px);
    transition: opacity 0.1s linear, transform 0.3s cubic-bezier(0,1.49,.82,1.32);
    transition-delay: 0.3s;
}

.location:hover::before {
    transform: translateY(0);
    opacity: 1;
}
