body, html {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

body {
    background: #2F5168;
    overflow: hidden;
}

#main-container {
    height: 100%;
    width: 100%;
    display: flex;
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: hidden;
}